/* 공통영역 */
.wrap .detail {
  font-size: 0.85rem;
  font-weight: 800;
  text-transform: uppercase;
}

.wrap .more_btn {
  color: #fff;
  background-color: #080808;
  font-size: 0.85rem;
  font-weight: 800;
  text-transform: uppercase;

  height: 49px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  /* padding: 16px 20px; */
}

.wrap .more_btn svg {
  width: 8px;
  height: 8px;

  transition: 0.3s;
}

.more_btn:hover svg {
  fill: #fff;
  width: 6px;
  height: 6px;
}

.container {
  padding: 0 32px;
}

/* ///////////////////////////////////////////// */

/* 헤더영역 */
.header_wrap {
  width: 100%;
  /* height: 100%; */
  position: fixed;
  left: 0;
  top: 0;

  /* background-color: blue; */
  /* display: none; */

  z-index: 999;

  transition: 0.3s;
}

/* ------------------------- */
/* 헤더 스크롤이벤트 */

.header_wrap.scroll {
  top: -10%;
}
.header_wrap .sub_menu_btn.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_wrap .container.rescroll {
  justify-content: flex-end;
}
.header_wrap .logo_box.rescroll {
  display: none;
}
.header_wrap .main_menu_box.rescroll {
  display: none;
}
.header_wrap.rescroll {
  top: 0;
}

.header_wrap .login_btn.rescroll {
  margin-right: 12px;
}

.header_wrap .sub_menu_btn.rescroll {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------- */

.header_wrap .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;

  color: #fff;
  background-color: transparent;
}

.header_wrap .logo_box {
  font-size: 3.5rem;
  letter-spacing: -2.46px;
  font-weight: 800;
}

.header_wrap .main_menu_box .main_menu {
  font-size: 0.85rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 800;
}

.header_wrap .main_menu_box {
  display: flex;
  gap: 8px;
}

.header_wrap .login_btn {
  background-color: #080808;
  /* width: 250px; */
  width: 173px;
  height: 49px;
  /* height: 77px; */
  border-radius: 40px;

  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
/* .header_wrap .more_btn svg {
  width: 8px;
  height: 8px;

  transition: 0.3s;
} */

.header_wrap .sub_menu_btn {
  width: 73px;
  height: 49px;
  color: #080808;
  background-color: #dcddde;
  border-radius: 40px;
  font-weight: 800;
  padding: 0 12px;

  display: none;
}

.header_wrap .login_btn,
.header_wrap .sub_menu_btn {
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 800;
}

/* ///////////////////////////////////////////// */
/* 서브메뉴영역 */

.sub_menu_box {
  /* display: none; */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */

  /* z-index: 99999; */
  z-index: -9;
  transform: translateY(-100%);

  transition: 0.6s;
}
/* ------------------------- */
/* 서브메뉴버튼 클릭이벤트 */

.sub_menu_box.open {
  z-index: 99999;
  transform: translateY(0);
}

/* ------------------------- */

.sub_menu_box .container {
  color: #fff;
  background-color: #080808;
  width: 100%;
  height: 100vh;
  padding-top: 26px;
  padding-bottom: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub_menu_box .top_box {
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub_menu_box .top_box .logo_box {
  font-size: 3.5rem;
  letter-spacing: -2.46px;
}

.sub_menu_box .top_box .close_btn {
  font-size: 0.85rem;
  text-transform: uppercase;
}
.sub_menu_box .center_box {
  font-size: 4.6rem;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 78px;

  text-transform: uppercase;

  display: flex;
  flex-direction: column;
}
.sub_menu_box .top_box .close_btn,
.sub_menu_box .center_box .sub_menu,
.sub_menu_box .bottom_box .sub_text {
  cursor: pointer;
}

.sub_menu_box .bottom_box {
  font-size: 0.85rem;
  font-weight: 800;
  text-transform: uppercase;
}
.sub_menu_box .bottom_box .sub_text1 {
  margin-bottom: 45px;
}
.sub_menu_box .bottom_box .sub_text2 {
  margin-bottom: 5px;
}

/* ///////////////////////////////////////////// */
/* 로그인영역 */
.login_box {
  /* display: none; */

  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;

  /* z-index: 99999; */
  z-index: -9999;

  transition: 0.3s;
}

/* ------------------------- */
/* 로그인버튼 클릭이벤트 */
.black_bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 5; */
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -9999;
  transition: 0.3s;
}
.black_bg.open {
  opacity: 1;
  z-index: 9999;
}

.login_box.open {
  z-index: 99999;
  transform: translateX(-800px);
}
/* ------------------------- */

.login_box .container {
  width: 800px;
  height: 100vh;

  padding: 24px;
  padding-bottom: 40px;
  background-color: #080808;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login_box .top_box .title_box {
  font-size: 0.85rem;
  font-weight: 800;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}
.login_box .top_box .content_box {
  display: flex;
  justify-content: space-between;
}

.login_box .top_box .content_box .content_text {
  font-size: 1rem;
  line-height: 18px;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  gap: 1px;
}

.login_box .top_box .content_box .photo_box {
  width: 160px;
  height: 217px;
}

.login_box .bottom_box .title_box {
  font-size: 0.87rem;
  text-transform: uppercase;
  font-weight: 800;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: 1px solid #575757;
}

.login_box .bottom_box .content_box {
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 500;

  display: flex;
  flex-direction: column;
}
.login_box .bottom_box .content_box .privacy .name,
.login_box .bottom_box .content_box .privacy .email,
.login_box .bottom_box .content_box .privacy .phone {
  display: flex;
  gap: 4px;
  margin-top: 20px;
  margin-bottom: 14px;
}
.login_box .bottom_box .content_box .privacy .text2 {
  color: #d30000;
}

.login_box .bottom_box .content_box .privacy input {
  background-color: #292929;
  width: 100%;
  height: 63px;
  border-radius: 4px;
  padding-left: 12px;
}

.login_box .bottom_box .content_box .privacy input::placeholder {
  color: #575757;
  font-size: 1.06rem;
  text-transform: capitalize;
  font-weight: 500;

  transition: 0.3s;
}

.login_box .bottom_box .content_box .privacy input:focus::placeholder {
  opacity: 0;
}

.login_box .bottom_box .next_box {
  display: flex;
  justify-content: flex-end;
}

.login_box .bottom_box .next_box .next_btn {
  font-size: 0.85rem;
  font-weight: 500;

  text-transform: uppercase;
  color: #080808;
  background-color: #fff;
  border-radius: 40px;

  width: 87px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  transform: translateX();

  cursor: pointer;
}
.login_box .bottom_box .next_box .next_btn svg {
  width: 12px;
  height: 12px;
}

/* ///////////////////////////////////////////// */
/* 배너영역 */

.banner {
  width: 100%;
  height: 100%;
}

.banner .container {
  width: 100%;
  /* height: 2006px; */
  height: 100vh;
  padding-bottom: 32px;
  color: #fff;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

  /* background: url(../photo/banner.jpg) no-repeat center center / cover; */

  background-image: url(../photo/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;

  /* filter: brightness(65%); */
  /* background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken; */
  background-attachment: fixed;

  position: relative;
}

.banner .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: brightness(65%);

  transition: 1s;
}

/* ------------------------ */
/* 배너 배경밝기 스크롤이벤트 */

.container.bright::before {
  filter: brightness(30%);
}

/* ------------------------ */

.banner .container .layout_box {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr; /* 첫 줄이 비어 있음 */
  height: 100%;

  position: relative;
}

.banner .center_box {
  grid-row: 2; /* 두 번째 줄에 위치 */
  width: 100%;
  height: 100%;
  /* position: absolute;
  top: 50%;
  left: 0; */
  /* padding: 0 32px; */

  display: grid;
  align-items: center; /* 세로 가운데 */
  /* justify-items: center; -> 가로 가운데  */
}

.banner .center_box .infor_box {
  font-size: 0.85rem;
  font-weight: 800;

  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.banner .center_box .infor_box .infor svg {
  width: 8px;
  height: 8px;

  transition: 0.3s;
}
/* ------------------------- */
/* 인포버튼 호버이벤트 */

.banner .center_box .infor_box .infor svg.hover {
  fill: #fff;
  width: 6px;
  height: 6px;
}

/* ------------------------- */

.banner .center_box .infor_box .view {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  /* border-bottom: 2px solid #fff; */
}

.banner .center_box .infor_box .view p {
  display: flex;
  align-items: center;
  gap: 12px;
}

.view::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  /* transition: transform 0.45s cubic-bezier(0.835, -0.005, 0.06, 1); */
  transform: translateX(-100%);

  transition: 0.3s;
}

/* .line-to-right {
  .view::after {
    transform-origin: right;
  }
} */
.view:hover .view::after {
  /* transform-origin: left; */
  transform: translateX(0);
}

.banner .bottom_box {
  grid-row: 3; /* 세 번째 줄에 위치 */
  /* padding: 32px; */
  width: 100%;
  height: 100%;
  /* position: absolute;
  left: 0;
  bottom: 0;

  z-index: -9; */
  /* transform: translateY(50%); */

  display: grid;
  align-items: end; /* 세로 기준 가장 하단! */
}

.banner .bottom_box .maincontent_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.banner .bottom_box .maincontent_box .content_box {
  font-size: 2.25rem;
  letter-spacing: -1px;
  font-weight: 500;
}

/* ///////////////////////////////////////////// */
/* sec_1영역 */
.sec_1 {
  width: 100%;
  height: 100%;
}

.sec_1 .container {
  width: 100%;
  height: 100%;
  padding-top: 52px;
  padding-bottom: 192px;
  color: #080808;
}

.sec_1 .title_box {
  font-size: 9rem;
  font-weight: 500;
  letter-spacing: -5px;
  line-height: 140px;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  gap: -47px;
  margin-bottom: 32px;
}
.sec_1 .body_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sec_1 .body_box .photo_box {
  width: 490px;
  height: 327px;
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 32px;
}
.sec_1 .body_box .content_box {
  /* width: 546px; */
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 1.35rem;
  font-weight: 500;
  /* letter-spacing: -0.48px; */

  grid-column: 2;
  grid-row: 2;
}

.sec_1 .body_box .more_btn {
  width: 286px;

  grid-column: 2;
  grid-row: 3;
  margin-top: 32px;
}

.sec_1 .body_box .detail {
  grid-column: 3;
  grid-row: 2;

  display: flex;
  justify-content: flex-end;
}

/* ///////////////////////////////////////////// */
/* sec_2영역 */
.sec_2 {
  width: 100%;
  height: 100%;
}

.sec_2 .container {
  width: 100%;
  height: 100%;
  padding-bottom: 192px;
  color: #080808;
}

.sec_2 .top_box .title {
  font-size: 9em;
  font-weight: 500;
  letter-spacing: -5px;
  line-height: 140px;
  text-transform: uppercase;
}

.sec_2 .top_box .title_box {
  display: flex;
  justify-content: space-between;
  padding-left: 314px;
  margin-bottom: 32px;
}

.sec_2 .center_box {
  display: flex;
  flex-direction: column;
  gap: 140px;
  /* display: grid;
  grid-template-rows: repeat(2, 3fr); */
}

.sec_2 .center_box .grid {
  display: flex;
  justify-content: space-between;
}
/* .sec_2 .center_box .grid_1 {
  gap: 12px;
}
.sec_2 .center_box .grid_2 {
  gap: 168px;
}
.sec_2 .center_box .grid_3 {
  gap: 168px;
} */

.sec_2 .center_box .photo_box .photo1 {
  width: 912px;
  height: 1240px;
}

.sec_2 .center_box .photo_box .photo2 {
  width: 912px;
  height: 627px;
}
.sec_2 .center_box .photo_box .photo3 {
  width: 758px;
  height: 1029px;
}
.sec_2 .center_box .photo_box .photo4 {
  width: 913px;
  height: 627px;
}
.sec_2 .center_box .photo_box .photo5 {
  width: 912px;
  height: 1240px;
}
.sec_2 .center_box .photo_box .photo6 {
  width: 758px;
  height: 521px;
}

.sec_2 .center_box .photo_text_box {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.sec_2 .center_box .photo_text_box .text_box {
  display: flex;
  gap: 32px;
}

.sec_2 .center_box .photo_text_box .text {
  font-size: 0.85rem;
  font-weight: 800;
  text-transform: uppercase;
}
.sec_2 .center_box .photo_text_box .text3 {
  color: #575757;
}

.sec_2 .bottom_box .more_btn {
  width: 177px;
  margin: 0 auto;
  margin-top: 74px;
}

/* ///////////////////////////////////////////// */
/* sec_3영역 */
.sec_3 {
  width: 100%;
  height: 100%;
}

.sec_3 .container {
  width: 100%;
  height: 100%;
  padding-bottom: 192px;
  display: flex;
  color: #080808;
}

.sec_3 .left_box .photo_box {
  width: 448px;
  height: 448px;
  margin-top: 16px;
}
.sec_3 .left_box .bottom_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}
.sec_3 .left_box .bottom_box .process {
  border-bottom: 1.5px solid #dcddde;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.sec_3 .left_box .bottom_box .process1 {
  gap: 16px;
}

.sec_3 .left_box .bottom_box .process .number {
  font-size: 1rem;
  font-weight: 500;
  color: #575757;
}

.sec_3 .left_box .bottom_box .process .text {
  font-size: 1rem;
  font-weight: 500;
}

.sec_3 .right_box {
  margin-left: 168px;
}

.sec_3 .right_box .content_box .content-body {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: -1.6px;
  line-height: 60px;
}
.sec_3 .right_box .content_box .content-body1 .content1 {
  padding-left: 92px;
}

.sec_3 .right_box .content_box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sec_3 .right_box .more_btn {
  width: 255px;
  margin-top: 50px;
}

/* ///////////////////////////////////////////// */
/* sec_4영역 */
.sec_4 {
  width: 100%;
  height: 100%;
}

.sec_4 .container {
  width: 100%;
  height: 100%;
  padding-bottom: 32px;
  color: #080808;
}

.sec_4 .detail {
  margin-bottom: 16px;
}

.sec_4 .content_box {
  /* display: flex;
  gap: 324px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sec_4 .right_box {
  display: flex;
  justify-content: flex-end;
}

.sec_4 .content_box .left_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec_4 .content_box .left_box .photo_box {
  width: 758px;
  height: 505px;
}

.sec_4 .content_box .left_box .content_main {
  font-size: 1.35rem;
  font-weight: 500;
  /* letter-spacing: -0.26px; */
}
.sec_4 .content_box .left_box .content_sub {
  font-size: 0.85rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-transform: uppercase;
}

.sec_4 .right_box .photo_box .photo {
  width: 758px;
  height: 1010px;
  position: relative;
  overflow: hidden;
}

.sec_4 .right_box .photo_text_box {
  font-size: 0.85rem;
  font-weight: 800;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.sec_4 .right_box .photo_text_box svg {
  width: 16px;
  height: 16px;
}
.sec_4 .right_box .photo_text_box .text_box {
  display: flex;
  /* align-items: center; */
  gap: 32px;
}
.sec_4 .right_box .photo_text_box .text3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.sec_4 .bottom_box .title_box {
  margin-top: 190px;
  margin-bottom: 40px;
}

.sec_4 .bottom_box .title_box .title {
  font-size: 9rem;
  font-weight: 500;
  letter-spacing: -5px;
  line-height: 140px;
}

.sec_4 .bottom_box .title_box .push_box .title {
  display: flex;
  justify-content: flex-end;
}
.sec_4 .bottom_box .more_btn {
  width: 275px;
  margin: 0 auto;
}

/* ---------------------------- */
.sec_4 .right_box .photo_box .sub_photo_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);

  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;

  opacity: 0;

  transition: 0.3s;
}
.sec_4 .right_box .photo_box .sub_photo_box .sub_photo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sec_4 .right_box .photo_box .sub_photo_box .sub_photo .sub_center {
  width: 30%;
  height: 35%;

  transition: 0.3s;
}

.sec_4 .right_box .photo_box .main_photo {
  transition: 0.3s;
}

/* ---------------------------- */
/* 서브포토박스 호버이벤트 */
.sec_4 .right_box .photo_box .sub_photo_box.hover {
  opacity: 1;
}

.sec_4 .right_box .photo_box .main_photo.hover {
  filter: brightness(50%);
  transform: scale(110%);
}

/* ///////////////////////////////////////////// */
/* 푸터영역 */

.footer {
  width: 100%;
  height: 100%;
}

.footer .container {
  width: 100%;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 24px;
  color: #080808;
  border-top: 1.5px solid #dcddde;
}

.footer .main_box {
  display: flex;
  gap: 168px;
}

.footer .main_box .photo_box .photo1 {
  width: 448px;
  height: 560px;
}
.footer .main_box .photo_box .photo2 {
  margin-top: 20px;
  width: 100%;
}

.footer .main_box .content_box {
  display: flex;
  gap: 357px;
}
.footer .main_box .content_box .left_box .navi {
  font-size: 3.25rem;
  font-weight: 800;
  text-transform: capitalize;

  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.footer .main_box .content_box .right_box {
  display: flex;
  flex-direction: column;
  /* gap: 76px; */
}
.footer .main_box .content_box .right_box .detail {
  margin-bottom: 16px;
}
.footer .main_box .content_box .right_box .detail_box2 {
  margin-top: 74px;
}
.footer .main_box .content_box .right_box .content .detail {
  margin-bottom: -16px;
}
.footer .main_box .content_box .right_box .content_body {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.footer .main_box .content_box .right_box .card_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .main_box .content_box .right_box .card_box .content {
  display: flex;
  gap: 4px;
}

.footer .right_box .bottom_box {
  width: 212px;
  height: 88px;
  margin-top: 24px;
}

.footer .infor_box {
  font-size: 0.85rem;
  font-weight: 800;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 132px;
}

.footer .infor_box .text4 .border {
  border-bottom: 1.5px solid #080808;
  margin: 0 2px;
}

.footer .infor_box .text4 .border:last-child {
  margin-right: -2px;
}
.footer .infor_box .text4 {
  display: flex;
}

/* .footer .main_box .content_box .left_box .navi_sub {
  width: 272.48px;
  height: 64px;
  overflow: hidden;
  transition: 2s;
  transform: translateY(0);
}
.navi_sub:hover .menu {
  transform: translateY(-100%);
} */
